@{
    ViewData["Title"] = "About";
    ViewData["Message"] = "Mitchell's Store";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This is my Shoe Store, for the first ASP.NET Assignment</p>
